<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <title>Burbank Oaks Apartments</title>
</head>

<body>
    <div class="title">
        <h1> Burbank Oaks Apartments</h1>
        <h2>14314 Burbank Blvd, Sherman Oaks CA 91401</h2>
    </div>
    
    <hr>
    
    <div class="about">
        <h2>About Us</h2>
        <p>
        Burbank Oaks Apartments has been a home for many in the Sherman Oaks area for more than 30 years. We believe in apartments being more than just dwellings, and we hope that you can find a way to make yourself a part of the community we have built. Common areas are lined with trees and flower beds, and our gated pool is surrounded by modern furniture. Each unit recieves a spot in our gated parking lot. With more than 150 studio and one bedroom units, two on-site managers, and a team of highly motivated employees working to make you comfortable, we are sure that you won't regret submitting an application. Hope to see you soon!
        </p>
    </div>
    
    <hr>
    
    <div class="location">
        <h2>Location</h2>
    </div>
    
    <hr>
    
    <div class="forRent">
        <h2>Our Apartments For Rent</h2>
        <div class="aptimage">
            <img src="../IMAGES/Apt178-1C.png" alt="Apartment 1" width=25%>
        </div>
    </div>
    
    <hr>
    
    <div class="contact">
        <h2>Contact Us</h2>
        <ul>Feel free to reach out during the listed times at your convenience:
            <li>Email (24/7): blahblahblah@foo.com
            <li>Phone (9a-6p): 818-555-5555
        </ul>
    </div>
    
</body>

</html>